body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: rgb(229, 235, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.link-light {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  margin: 0 0.3rem;
}

.link-light:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}